h1 {
    font-size: var(--h1-desktop-size);
    color: var(--h1-color);
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    padding: .5rem 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: var(--h1-mobile-size);
    }
}

h2 {
    font-size: var(--h2-desktop-size);
    color: var(--h2-color);
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    padding: .5rem 0;
}

@media (max-width: 600px) {
    h2 {
        font-size: var(--h2-mobile-size);
        line-height: 1.75rem;
    }
}

h3 {
    font-family: var(--h3-font-family);
    font-size: var(--h3-desktop-size);
    color: var(--h3-color);
}

@media (max-width: 600px) {
    h3 {
        font-size: var(--h3-mobile-size);
    }
}

h4 {
    font-family: var(--h4-font-family);
    color: var(--h4-color);
    font-size: var(--h4-desktop-size);
}

@media (max-width: 600px) {
    h4 {
        font-size: var(--h4-mobile-size);
    }
}

h5 {
    color: var(--h5-color);
    font-family: var(--h5-font-family);
    font-size: var(--h5-desktop-size);
}

@media (max-width: 600px) {
    h5 {
        font-size: var(--h5-mobile-size);
    }
}

p, a, strong {
    font-family: Alegreya;
    font-size: var(--p-desktop-size);
}

p {
    color: var(--main-p-color);
}

a {
    color: var(--main-a-color);
    text-decoration: none;
}

strong {
    font-weight: 600;
}

@media (max-width: 600px) {
    p, a, strong {
        padding: 0;
        font-size: var(--p-mobile-size);
    }
}